<p style="color: green"><%= notice %></p>

<div>
  <%= link_to "Edit this event", edit_event_path(@event) %> | 
  <%= link_to "Back to events", events_path %>

  <div>
    Created by : <%= @event.creator.username %>
  </div>

  <div>
    <%= @event.date %>
  </div>

  <%= button_to "Destroy this event", @event, method: :delete %>
</div>

<%= render partial: "event", locals: {event: @event, canAttend: true} %>

<br>
<h2>Attendees</h2>
<ol>
  <% @event.attendees.each do |attendee| %>
    <li><%= attendee.username %>
  <% end %>
<ol>

